<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All categories</title>
</head>
<body>
<p>Expense categories</p>

<table>
    <thead>
    <tr>
        <th>Creation date</th>
        <th>Category name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.creationDateTime}">Today</td>
        <!--TODO:format date-->
        <td th:text="${category.categoryName}">Kawa</td>
            <td><a th:href="@{'/category/edit/' + ${category.id}}">Edit</a></td>
            <td><a th:href="@{'/category/delete/' + ${category.id}}">Delete</a></td>
    </tr>
    </tbody>
</table>
<p><a th:href="@{/category/add}">Add new category</a></p>
</body>
</html>