<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${operationTitle} + ' expense'">Expenses</title>
</head>
<body>
<p th:text="${mainParagraph} + ' expense'"><b>Expense</b></p>
<form action="#" th:action="@{/expense/save}" th:object="${expense}" method="post">
    <p>Title: <input type="text" th:field="*{expenseTitle}"></p>
    <p>Category:
        <select>
            <option utext="Biedronka"
                    th:each="category : ${categories}"
                    th:value="${category}"
                    th:utext="${category.categoryName}">Biedronka</option>
        </select></p>

    <p><input type="submit" name="pressed-button" value="Save"/>
        <input type="submit" name="pressed-button" value="Cancel"/>
        <input type="reset" value="Reset"/></p>
</form>
</body>
</html>
